<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmWTow2Xvb9CEBzMKuKiiI6vSfW9e0JNY</string>
	<key>GCM_SENDER_ID</key>
	<string>809995362596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.launchhubFrontend</string>
	<key>PROJECT_ID</key>
	<string>launchhub-alielchab</string>
	<key>STORAGE_BUCKET</key>
	<string>launchhub-alielchab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809995362596:ios:c665bf3679f6cfd71013b1</string>
</dict>
</plist>