/* styles.css */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;

  border-radius: 15px;
  width: 500px;
}

.top-row {
  display: flex;
  align-items: center;
}

.exit-button {
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.about {
  margin-top: 20px;
  gap: 25px;
}

.delete {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
}
.delete-button {
  background-color: #8e0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  right: 55px;
}
